.floating-card {
  text-align: left;
  position: fixed;
  float: left;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 10px -1px;
}
