.card {
  text-align: left;
  transition: opacity 1s ease-in-out;
  position: fixed;
  float: left;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 3px 3px 1px;
}
