.student {
  background-color: rgba(#ffa500, 0.4);
  height: auto;
  width: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .image-content-wrapper{
    display: flex;
  }
  .information {
    margin: 10px;
    .small_font {
      font-size: 10px;
    }
    .divider {
      border-bottom: 1px solid rgb(104, 102, 102);
    }
  }
}
