.student {
  background-color: rgba(#ffa500, 0.4);
  height: auto;
  width: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .image-content-wrapper{
    display: flex;
  }
  .information {
    margin: 10px;
    .small {
      font-size: 10px;
    }
  }
}
