.options {
  padding: 10px;
  margin: auto;
  border: solid thin black;
  background-color: rgb(160, 159, 159);
  display: flex;
  flex-direction: row;
  .row {
    justify-content: center;
    margin: auto;
  }
}
.open_window {
    transition: height 1s;
  height: 150px;
}

.close_window {
  transition: height 1s;
  height: 0;
}