.options {
    animation: option_menu  1s;
    height: 100px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    div{
        justify-content: center;
        margin: auto
    }
}

@keyframes option_menu {
    from{height: 0px}
    to{height:100px}
}
