.options {
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
  border: solid thin black;
  background-color: rgb(160, 159, 159);
  display: flex;
  flex-direction: row;
  .col {
    justify-content: center;
    margin: auto;
  }
}
.open_window {
    transition: height 1s;
    height: 142px;
}

.close_window {
  transition: height 1s;
  height: 0;
}

@media screen and (max-width: 527px){
  .open_window {
    transition: height 1s;
    height: 212px;
}
}
