.options {
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  .col {
    justify-content: center;
    margin: auto;
    text-align: left;
  }
}
.open_window {
  transition: width 1s;
  width: 150px;
}

.close_window {
  visibility: hidden;
  transition: width 1s;
  width: 0;
}

@media screen and (max-width: 527px) {
  .open_window {
    transition: width 1s;
    width: 121px;
  }
}
