.button_wrapper{
width: 35px;
}

.line {
    cursor: pointer;
    transition: all 1s;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;   
}

.line_x1{
    cursor: pointer;
    transition: all 1s;
    width: 35px;
    height: 5px;
    background-color: black;
    transform: rotate(45deg);
}

.line_x2{
    cursor: pointer;
    transition: all 1s;
    opacity: 0;
}

.line_x3 {
    cursor: pointer;
    transition: all 1s;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: -3px 0;
    transform: rotate(-45deg);
}