$opacity: 0.9;

.card {
  height: auto;
  width: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .image-content-wrapper {
    display: flex;
  }
  .information {
    margin: 10px;
    .small_font {
      font-size: 10px;
    }
    .divider {
      border-bottom: 1px solid rgb(104, 102, 102);
    }
  }
}
.student {
  background-color: rgba(#f7b845,$opacity);
}
.teacher {
  background-color: rgba(rgb(241, 80, 80),$opacity);
}


