$buttonSize: 40px;

.button {
  border: solid thin black;
  margin: 5px;
  position: relative;
  cursor: pointer;
  height: $buttonSize;
  width: $buttonSize;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 60px;
  font-weight: lighter;
  transition: box-shadow 0.5s;
  &:hover {
    transition: box-shadow 0.5ms;
    background-color: rgb(185, 185, 185);
    box-shadow: 1px 1px 1px 1px black;
  }
  >div{
    line-height: 0.5;
    margin: auto;
    top: 0;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:focus {
    outline: none;
  }
}
