$buttonSize: 40px;

.button {
  margin: 3px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50%;
  background-color: black;
  transition: box-shadow 0.5s;
  &:hover {
    transition: box-shadow 0.5ms;
    box-shadow: 1px 1px 1px 1px black;
  }
  &:focus {
    outline: none;
  }
}
