$buttonSize: 30px;

.button {
  margin: 3px;
  cursor: pointer;
  font-size: $buttonSize;
  border-radius: 50%;
  background-color: black;
  transition: box-shadow 0.5s;
  &:hover {
    transition: box-shadow 0.5ms;
    box-shadow: 0px 1px 10px -1px black;
  }
  &:focus {
    outline: none;
  }
}
