$transitionTime: all 0.25s;
$button_width: 35px;

.button_wrapper {
  width: $button_width;
}

.line {
  cursor: pointer;
  transition: $transitionTime;
  width: $button_width;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.line_x1 {
  cursor: pointer;
  transition: $transitionTime;
  width: $button_width;
  height: 5px;
  background-color: white;
  transform: rotate(45deg);
}

.line_x2 {
  cursor: pointer;
  transition: $transitionTime;
  opacity: 0;
}

.line_x3 {
  cursor: pointer;
  transition: $transitionTime;
  width: $button_width;
  height: 5px;
  background-color: white;
  margin: -3px 0;
  transform: rotate(-45deg);
}
