.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.flex{
    display: flex;
}
.top_wrapper{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(88, 152, 212);
    height: 100px;
}
.center{
    justify-content: center;
    margin: auto;
}
.no-margin{
    margin: auto 0 auto 5px;
}
.option_section{
    background-color: rgb(36, 46, 36);
    color: gainsboro;
    width: auto;
}

canvas {
    background-color: whitesmoke;
}