.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.flex{
    display: flex;
}

h3{
    color:white;
}
.top_wrapper{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(115, 30, 165);
    height: 50px;
}
.center{
    justify-content: center;
    margin: auto;
}
.no-margin{
    margin: auto 0 auto 5px;
}
.option_section{
    background-color:rgb(132, 78, 163);
    color: white;
    width: auto;
}

canvas {
    background-color: whitesmoke;
    width: 100%;
}