.teacher {
  background-color: rgba(red, 0.4);
  display: flex;
  height: auto;
  width: auto;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  .image_content_wrapper{
    display: flex;
  }
  .information {
    margin: 10px;
    .small {
      font-size: 10px;
    }
  }
}
